/**** VARIABLES ********/
$primary-color:#1C77C0;
$error-color:red;
$white-color:#fff;
$width: 90vw;
$max-width: 1200px;
$nav-height: 120px;
$blue-1: #2572ff;
$dark-blue: #0053e9;
$dark-blue: #01102b
// COLOR SCHEME



//BOX-SHADOWS


/**** MIXIN ********/


/**** FUNCTIONS ********/
