.background_wrapper {
  width: 100vw;
  height: 100vh;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
 
  .background_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    transition: background-image 0.3s;
    filter:blur(2.5px);
  }
}

.zoom {
  animation: zoomIn 13s forwards;
}

@keyframes zoomIn {
 from{
    webkit-transform: scale(1);
    transform: scale(1);
 }
  to {
    webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
